name: CI

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run tests with coverage
        run: |
          pytest -q --cov=redis_deploy --cov-report=term-missing --cov-fail-under=90
  terraform:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.5
      - name: Validate EC2 module
        working-directory: infra/terraform/aws/ec2
        run: |
          terraform init -backend=false
          terraform fmt -check
          terraform validate
      - name: Validate EKS+Karpenter module
        working-directory: infra/terraform/aws/eks-karpenter
        run: |
          terraform init -backend=false
          terraform fmt -check
          terraform validate


